# Environment & secrets
.env
.venv

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.coverage
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Data (keep structure via .gitkeep)
data/**
!data/
!data/reference/
!data/reference/.gitkeep
!data/qa/
!data/qa/question/
!data/qa/question/.gitkeep
!data/qa/answer/
!data/qa/answer/.gitkeep

# macOS
.DS_Store
